<section id="counters" class="counters">
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered">
                <div class="transitionFadeInDown firstTransition">
                    <h2>Vous avez des chiffres clés à partager ?</h2>
                    <p class="content_description">Utilisez ce super effet compte à rebours sur vos chiffres !</p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInLeft secondTransition">
                <img class="icone user" src="images/icons/1414424470_Streamline-62.svg" alt="Icone avec un utilisateur" />
                <h3 id="counter1"></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInUp secondTransition">
                <img class="icone share" src="images/icons/IconeComment.svg" alt="Icone avec une bulle" />
                <h3 id="counter2"></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInRight secondTransition">
                <img class="icone like" src="images/icons/IconeLike.svg" alt="Icone avec un pouce" />
                <h3 id="counter3"></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</section>