<section id="items" class="items">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="transitionFadeInDown firstTransition">
                    <h2>Vous pourriez écrire ici l'activité clé de votre startup</h2>
                    <p class="content_description">...et peut être ce qui la différencie des autres</p>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInLeft secondTransition">
                    <img class="icone bomb" src="images/icons/IconeBombe.svg" alt="Icone avec une bombe" />
                    <div class="description">
                        <h3>Votre premier service</h3>
                        <p>Et ici une desciption claire pour que tout le monde puisse comprendre en quelques secondes.</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInUp secondTransition">
                    <img class="icone modify" src="images/icons/IconeStylo.svg" alt="Icone avec un stylo" />
                    <div class="description">
                        <h3>Votre second service</h3>
                        <p>avec là aussi une petite description mais essayez de garder la même longueur de texte :)</p>
                    </div>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInRight secondTransition">
                    <img class="icone painting" src="images/icons/IconePaint.svg" alt="Icone avec un rouleau à peinture" />
                    <div class="description">
                        <h3>Votre troisième service</h3>
                        <p>En gardant la même longueur de description, vous harmonisez l'affichage de votre page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>