<nav>
    <div class="container">
        <div class="row">
            <div class="image">
                <div class="logo"></div>
            </div>

            <div class="content">
                <ul>
                    <li><a href="#" class="header">Accueil</a></li>
                    <li><a href="#" class="items">Exemple 1</a></li>
                    <li><a href="#" class="content_with_pictures_1">Exemple 2</a></li>
                    <li><a href="#" class="content_with_pictures_2">Exemple 3</a></li>
                    <li><a href="#" class="content_middle_picture">Exemple 4</a></li>
                    <li><a href="#" class="gallery_of_pictures">Photos</a></li>
                    <li><a href="#" class="text_and_dates">Exemple 5</a></li>
                    <li><a href="#" class="counters">Exemple 6</a></li>
                    <li><a href="#" class="pricing_table">Prix</a></li>
                    <li><a href="#" class="partners">Partenaires</a></li>
                    <li><a href="#" class="newsletter">Newsletter</a></li>
                </ul>

                <div class="menu-button" id="menu-button"><img class="icone responsive-menu" src="images/icons/responsive-menu.svg" alt="Icone menu" /> <p>Menu</p></div>
            </div>
        </div>
    </div>
</nav>
<div class="cache" id="cache"></div>