<section id="partners" class="partners">
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered">

                <div class="transitionFadeInDown firstTransition">
                    <h2>Des partenaires à citer ou des personnes à remercier ?</h2>
                    <p class="content_description">Utilisez des logos ou photos dans ce beau caroussel.</p>
                </div>

                <div class="transitionFadeInUp secondTransition">
                    <div id="partners-logo" class="partners-logo owl-carousel owl-theme">
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="http://www.microsoft.com/">
                                <img src="images/partners/microsoft.jpg" alt="Microsoft" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="newsletter" class="newsletter">
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered">
                <div class="transitionFadeInDown firstTransition">
                    <h2>Et enfin, la possibilité d'adhérer à votre Newsletter</h2>
                    <p class="content_description">avec un petit champs à remplir pour vos visiteurs.</p>
                </div>

                <div class="transitionFadeInUp secondTransition">
                    <form class="newsletter-form" action="" method="post">
                        <input type="text" id="email" name="email" value="" placeholder="E-mail" />
                        <input type="submit" id="submit" value="Envoyer" class="topulse"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>