<section id="content_with_pictures_1" class="content_with_pictures_1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 imagesTelephones">
                <img src="images/general/features1b.png" alt="Téléphone de face" class="firstPicture transitionFadeInLeft firstTransition" />
                <img src="images/general/features2b.png" alt="Téléphone de dos" class="secondPicture transitionFadeInLeft secondTransition" />
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="transitionFadeInUp secondTransition">
                    <h2>Une belle section</h2>
                    <p class="content_description">Ici, vous pourriez présenter un produit et ses fonctions clés avec une belle image.</p>
                </div>
                <ul class="transitionFadeInRight secondTransition">
                    <li><img class="icone earth" src="images/icons/IconeMap.svg" alt="Icone avec une carte" /> <p>Exemple : un appareil photo PureView de 20 mégapixels et quatre micros directionnels de qualité Surround</p></li>
                    <li><img class="icone music_note" src="images/icons/IconeMusic.svg" alt="Icone avec une note de musique" /> <p>Exemple : Écran de 5" Full HD garantissant une excellente visibilité, même en plein soleil.</p></li>
                    <li><img class="icone rouages" src="images/icons/IconeRouages.svg" alt="Icone avec un rouage" /> <p>Exemple : Ouvrez, modifiez et partagez vos documents en déplacement avec Microsoft Office Mobile. Utilisez OneDrive pour un stockage !</p></li>
                    <li><img class="icone clock" src="images/icons/IconeTime.svg" alt="Icone avec une horloge" /> <p>Exemple : Ouvrez, modifiez et partagez vos documents en déplacement avec Microsoft Office Mobile. Utilisez OneDrive pour un stockage !</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content_with_pictures_2" class="content_with_pictures_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="transitionFadeInUp secondTransition">
                    <h2>Et une autre belle section</h2>
                    <p class="content_description">qui peut comme la précédente présenter un produit ou un lieu...</p>
                </div>

                <ul class="transitionFadeInLeft secondTransition">
                    <li><img class="icone love" src="images/icons/IconeCoeur.svg" alt="Icone avec un coeur" /> <p>Quisque inire saepe inpendio saepe est ubi Caesare denique quisque gementibus confidenter egrediens in saepe.</p></li>
                    <li><img class="icone hot_dog" src="images/icons/IconeBurger.svg" alt="Icone avec un hamburger" /> <p>Quisque inire saepe inpendio saepe est ubi Caesare denique quisque gementibus confidenter egrediens in saepe.</p></li>
                    <li><img class="icone bag_shopping" src="images/icons/IconeSac.svg" alt="Icone avec un sac" /> <p>Quisque inire saepe inpendio saepe est ubi Caesare denique quisque gementibus confidenter egrediens in saepe.</p></li>
                    <li><img class="icone monocle_mustache" src="images/icons/IconeMoustaches.svg" alt="Icone avec des moustaches" /> <p>Quisque inire saepe inpendio saepe est ubi Caesare denique quisque gementibus confidenter egrediens in saepe.</p></li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 imagesTelephones">
                <img src="images/general/features1a.png" alt="Téléphone de face" class="firstPicture transitionFadeInRight firstTransition" />
                <img src="images/general/features2a.png" alt="Téléphone de dos" class="secondPicture transitionFadeInRight secondTransition" />
            </div>
        </div>
    </div>
</section>

<section id="content_middle_picture" class="content_middle_picture">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="transitionFadeInDown firstTransition">
                    <h2>Vous préférez une présentation plus imposante ?</h2>
                    <p class="content_description">Utilisez cette section pour exposer votre produit ou service de manière très visible.</p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInLeft secondTransition">
                <ul>
                    <li class="left"><h3>Firmatum nomine Paleas</h3> <p>Isauriae conduntur trinoctium commeatus obsidionale mare adclivitas hoc ubi et Isauriae vi locum locum et petivere defendentibus.</p></li>
                    <li class="left"><h3>Firmatum nomine Paleas</h3> <p>Isauriae conduntur trinoctium commeatus obsidionale mare adclivitas hoc ubi et Isauriae vi locum locum et petivere defendentibus.</p></li>
                </ul>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInUp secondTransition">
                <img src="images/general/HTCsimple.png" id="telephoneMilieu" alt="Téléphone de face" />
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 transitionFadeInRight secondTransition">
                <ul>
                    <li class="right"><h3>Firmatum nomine Paleas</h3> <p>Isauriae conduntur trinoctium commeatus obsidionale mare adclivitas hoc ubi et Isauriae vi locum locum et petivere defendentibus.</p></li>
                    <li class="right"><h3>Firmatum nomine Paleas</h3> <p>Isauriae conduntur trinoctium commeatus obsidionale mare adclivitas hoc ubi et Isauriae vi locum locum et petivere defendentibus.</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="gallery_of_pictures" class="gallery_of_pictures">
    <div class="container">
        <div class="row row-centered">
            <div class="col-sm-12 col-md-12 col-lg-12 col-centered">
                <div class="transitionFadeInDown firstTransition">
                    <h2>Vous avez des photos à montrer ?</h2>
                    <p class="content_description">Cette section et ses superbes effets vont vous plaire !</p>
                </div>

                <div class="transitionFadeInUp secondTransition">
                    <div id="pictures-gallery" class="pictures-gallery owl-carousel owl-theme">
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img1.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img1.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img2.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img2.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img3.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img3.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img4.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img4.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img1.jpg" data-lightbox="gallery">
                                <div class=" img" style="background-image: url(images/gallery_of_pictures/Img1.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img2.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img2.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img3.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img3.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img4.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img4.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img1.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img1.jpg);" alt="Image"></div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="images/gallery_of_pictures/Img2.jpg" data-lightbox="gallery">
                                <div class="img" style="background-image: url(images/gallery_of_pictures/Img2.jpg);" alt="Image"></div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>