<section id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="transitionFadeInDown firstTransition">
                    <div class="logo"></div>
                    <div class="subtitle">Votre landing page prête à l'emploi et totalement gratuite</div>
                    <div class="slogan">Microsoft France vous propose ce template de landing page à télécharger gratuitement.<br />Un tutoriel vidéo est également disponible pour tout personnaliser.</div>
                </div>

                <div class="buttons transitionFadeInUp secondTransition">
                    <a class="btn" href="LandingPage.zip">Télécharger le template</a>
                    <a class="btn" href="http://www.microsoftvirtualacademy.com/training-courses/startups-creez-votre-landing-page-gratuite">Voir le tuto</a>
                </div>

                <img src="images/general/png_home.png" class="transitionFadeInUp secondTransition" alt="Téléphone dans la main" />

            </div>
        </div>
    </div>
</section>